****Sequential Problems****

**1.Flowchart to print the Average of Three Numbers.**

In [3]:
a=int(input('Enter the first number'))
b=int(input('Enter the second number'))
c=int(input('Enter the third number'))
avg=(a+b+c)/3
print("Average : ",avg)

Enter the first number2
Enter the second number6
Enter the third number4
Average :  4.0

**2.Flowchart to print the Sum and Average of Three Numbers.**

In [1]:
a=int(input('Enter the first number'))
b=int(input('Enter the second number'))
c=int(input('Enter the third number'))
sum=a+b+c
print('Sum : ',sum)
avg=sum/3
print("Average : ",avg)

Enter the first number5
Enter the second number8
Enter the third number2
Sum :  15
Average :  5.0

**3.Flowchart to Convert the Time entered in Seconds to Hours,Minutes,Seconds.**

In [2]:
t=int(input('Enter the time in seconds'))
h=int(t/3600)
s=t%3600
m=int(s/60)
print(h,':',m,':',s)

Enter the time in seconds3604
1 : 0 : 4

**4.Flowchart to Print the Area and Perimeter of a Triangle.**

In [2]:
a=int(input('Enter the first side'))
b=int(input('Enter the second side'))
c=int(input('Enter the third side'))
peri=a+b+c
s=peri/2
ar=(s*(s-a)*(s-b)*(s-c))
area=(ar**0.5)
print('Primeter : ',peri,'Area : ',area)

Enter the first side3
Enter the second side4
Enter the third side5
Primeter :  12 Area :  6.0

**5.Flowchart to Print the Area of a Circle.**

In [5]:
r=int(input('Enter the radius of circle'))
area=3.14*r*r
print('Area : ',area)

Enter the radius of circle5
Area :  78.5

**6.Flowchart to enter two unequal number and interchange them without using a third variable.**

In [8]:
a=int(input('Enter the first number'))
b=int(input('Enter the second number'))
print('Before swapping')
print('a:',a,'b:',b)
a=a+b
b=a-b
a=a-b
print('After swapping')
print('a : ',a,'b : ',b)

Enter the first number5
Enter the second number10
Before swapping
a: 5 b: 10
After swapping
a :  10 b :  5

**7.Flowchart to display sum, difference, product, quotient and remainder of two unequal numbers.**

In [10]:
a=int(input('Enter the number'))
b=int(input('Enter the number'))
sum=a+b
diff=a-b
prd=a*b
quo=int(a/b)
rem=a%b
print('Sum : ',sum,'Difference : ',diff,'Product : ',prd,'Quotient : ',quo,'Reminder : ',rem)

Enter the number5
Enter the number2
Sum :  7 Difference :  3 Product :  10 Quotient :  2 Reminder :  1

**8.Flowchart to Write a program to enter the number of days and display into years, months and days.**

In [11]:
t=int(input('Enter the number of days'))
y=int(t/365)
m=int((t%365)/12)
d=int((t%365)%12)
print('Year : ',y,'Month : ',m,'Days : ',d)

Enter the number of days369
Year :  1 Month :  0 Days :  4